* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* defaults for all images */

img {
    width: 100%;
    height: auto;
}


/* paragraph parameters */

.p {
    float: none;
    padding-bottom: 10px;
}


/* Style the header */

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}


/* Style the top navigation bar */

.topnav {
    height: 80px;
    line-height: 80px;
    background-color: #333;
    position: sticky;
    top: 0px;
    z-index: 9999;
}


/* Style the topnav links */

.topnav a {
    height: 30px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    height: 60px;
    text-align: center;
    line-height: 50px;
    font-size: x-large;
    border-radius: 10px;
    margin: 3px;
    padding: 5px;
    background-color: #535353;
    border-color: #2b2b2b;
    color: #fff;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Create three unequal columns that floats next to each other */

.column {
    color: black;
    float: left;
    padding: 10px;
    height: auto;
}


/* Left and right column */

.side {
    width: 39%;
}


/* side image parameters */

.sideimg {
    width: 50%;
    padding-right: 10px;
    float: left;
}


/* Middle column */

.middle {
    margin-left: 10px;
    width: 60%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1000px) {
    .side,
    .middle {
        width: 100%;
    }
}


/* Style the footer */

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}


/* button for the navbar links */

.button {
    border-radius: 4px;
    background-color: #5f5f5f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


/* default buttons */

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #000000;
}


/* puts text at the top left of the conainers */

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 30px;
    color: black;
}


/* allows for positioning text on top of images */

.container {
    padding: 4px;
    position: relative;
}


/* the item for containing images and descriptions in the gallery page */

.gallery {
    border: 1px solid #ccc;
}


/* puts a shadow behind gallery items when the cursor hovers overthem */

.gallery:hover {
    border: 1px solid #777;
}


/* sets image defaults for gallery images */

.gallery img {
    width: 100%;
    height: 200%;
}


/* the description box for gallery items */

.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}


/* default gallery item sizes */

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.333%;
}


/* gallery resize defaults at 1000px wide screen */

@media only screen and (max-width: 1000px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}


/* gallery resize defaults at 600px wide screen */

@media only screen and (max-width: 600px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.full {
    width: 100%;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/


/*
th {
    width: 10%;
    text-align: left;
    border: black 2px solid;
}

table {
    margin: 0 auto;
    border: black 2px solid;
}

td {
    border: black 1px solid;
}
*/

@media only screen and (max-width: 1040px),
(min-device-width: 1040px) and (max-device-width: 1080px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        /*position: absolute;*/
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
	Label the data
    */
    td:nth-of-type(1):before {
        content: "Aircraft:";
    }
    td:nth-of-type(2):before {
        content: "Ceiling:";
    }
    td:nth-of-type(3):before {
        content: "Max Speed:";
    }
    td:nth-of-type(4):before {
        content: "Max Thrust:";
    }
    td:nth-of-type(5):before {
        content: "Year:";
    }
    td:nth-of-type(6):before {
        content: "Initial Cost:";
    }
    td:nth-of-type(7):before {
        content: "Adjusted Cost:";
    }
    td:nth-of-type(8):before {
        content: "Company:";
    }
}

.form-control {
    border: 1px solid black;
    width: 100%;
}

#TextBox {
    height: 300px;
    width: 100%;
    border: black 1px solid;
    border-radius: 5px;
}

.label {
    width: 200px;
    display: block;
}

label {
    font-weight: bold;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 3px;
    border: black 2px solid;
    border-radius: 10px;
}

#button {
    width: 100%;
    border-radius: 5px;
}

.formdiv {
    padding-top: 5px;
}

.form_sidebyside {
    display: inline-block;
    width: 49.5%;
}